
body {
    margin:25px;
}

div.lightbox {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin: auto;
    position: relative;
}

div.description_container {
  text-align: center;
  padding: 10px 20px;
}

div.nav_container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}

#focus_image {
    width: 100%;
}

.hide {
   display: none;
}

div.nav_container a {
    text-decoration: none;
    position: absolute;
    border-bottom:10px solid white;
    width:20px;
    height:20px;
    margin-top:40px;
}

div.centered_container {
    height: 100px;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: red;
}

#prev_link {
    left: 0;
    border-left:10px solid white;
    transform: rotate(45deg);
}

#next_link {
    right: 0;
    border-right:10px solid white;
    transform: rotate(-45deg);
}
