
body {
    margin:25px;
    position: relative;
    background-color: #7b7c7c;
}

div.lightbox {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    max-width: 700px;
}

div.description_container {
    text-align: center;
    padding: 10px 20px;
    min-height: 50px;
}

div.nav_container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    max-width: 800px;
}

#focus_image {
    width: 100%;
}

div.nav_container a {
    text-decoration: none;
    position: absolute;
    border-bottom:10px solid white;
    width:20px;
    height:20px;
}

#prev_link {
    left: 0;
    border-left:10px solid white;
    margin-left: 20px;
    transform: rotate(45deg);
}

#next_link {
    right: 0;
    border-right:10px solid white;
    margin-right: 20px;
    transform: rotate(-45deg);
}

.hide {
   display: none;
}
